@font-face {
    font-family: "Dancing Script";
    src: url("/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    src: url("/assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}
* {
    font-family: "Noto Sans";
}