<header>
    <Logo />
    <nav>
        <ul>
            <li>
                <NavLink href="/">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/about">
                    About
                </NavLink>
            </li>
            <li>
                <NavLink href="/faqs">
                    FAQs
                </NavLink>
            </li>
        </ul>
    </nav>
    <LoginDisplay/>
</header>

@code {
    
}