@if (Query == "" || Answer == "")
{
    <div>
        
    </div>
}
else
{
    <div>
        
    </div>
}

@code {
    [Parameter] 
    public string Query { get; set; }

    [Parameter] 
    public string Answer { get; set; }
}